.login-block{
    display: flex;
    justify-content: center;
}
.login{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'kg_red_handsregular';
    background-color: #B5C9FD;
    border-radius: 100px;
    width: auto;
    padding: 2rem;
    margin: 2rem;
}

.login-button{
    padding-top: 1rem;
    border-radius: 60px;
}
.inputForm{
    padding-left: 2.5rem;
    margin-bottom: 1rem;
}
#email, #password{
    font-family: 'calling_coderegular';
    border-radius: 60px;
    resize : none;
}
.label{
    display: flex;
    justify-content: center;
}
.login-h2{
    font-family: 'made_dillanregular';
    font-size: 2rem;
}