@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
  font-family: 'made_dillanregular';
  src: url('../assets/fonts/dillanfont-webfont.woff2') format('woff2'),
    url('../assets/fonts/dillanfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kg_red_hands_outlineregular';
  src: url('../assets/fonts/kgredhandsoutline-webfont.woff2') format('woff2'),
    url('../assets/fonts/kgredhandsoutline-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kg_red_handsregular';
  src: url('../assets/fonts/kgredhands-webfont.woff2') format('woff2'),
    url('../assets/fonts/kgredhands-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'calling_coderegular';
  src: url('../assets/fonts/callingcode-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/callingcode-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.fade-in {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
